<section class="section" id="contact">
  <div class="container">
    <div class="text-center">
      <!-- <p class="section-subtitle">How can you communicate?</p> -->
      <h6 class="section-title mb-5">Contact Me</h6>
    </div>
    <form
      class="contact-form"
      [formGroup]="sendMessageForm"
      (ngSubmit)="sendMail()"
    >
      <table class="contact-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="contact-full-width">
              <mat-label>Your Name</mat-label>
              <input matInput id="name" formControlName="name" required />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="contact-full-width">
              <mat-label>Email</mat-label>
              <input matInput id="email" formControlName="email" required />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <p>
        <mat-form-field class="contact-full-width">
          <mat-label>Message</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St" id="message" formControlName="message" required></textarea>
        </mat-form-field>
      </p>
      <div class="contact-btn">
        <button
          type="submit"
          mat-raised-button
          class="btn-rounded mt-4"
          color="primary" [disabled]="sendMessageForm.invalid || submitBtnText == 'Sending...'"
        >
          {{submitBtnText}}
        </button>
      </div>
    </form>
  </div>
</section>
