@import '../profile.component.scss';

.contact-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;

    tr {
        display: flex;
        justify-content: space-between;
    }

    td {
        width: 50%;
    }
}

.contact-full-width {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-btn {
    display: flex;
    justify-content: center;
}