<section class="section pt-0" id="about">
  <div class="container ">
    <mat-grid-list cols="5" rowHeight="100px">
      <mat-grid-tile colspan="2" rowspan="3">
        <img
          src="assets/imgs/malvi-photo.jpeg"
          alt=""
          style="height: inherit"
        />
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="3">
        <div class="about-caption">
          <div class="text-center text-left">
            <!-- <p class="section-subtitle">Who Am I ?</p> -->
            <span class="section-title mb-3">About Me</span>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Repudiandae aliquid ad provident aut fuga animi soluta quae eos non
            cupiditate voluptates dolorem, doloremque quos dicta quibusdam
            impedit iure nemo a iste
            <br />culpa! Quasi quibusdam hic recusandae delectus velit officiis
            explicabo voluptatibus! Nemo esse similique, voluptates labore
            distinctio, placeat explicabo facilis molestias, blanditiis culpa
            iusto voluptatem ratione eligendi a, quia temporibus velit vero ipsa
            sint ex voluptatum expedita aliquid! Debitis, nam!
          </p>
          <button mat-raised-button class="btn-rounded mt-4" color="primary" (click)="downloadResume()">Download CV</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</section>
