@import '../profile.component.scss';

.service-card:hover .body .subtitle {
  bottom: 7px;
  opacity: 1;
  visibility: visible;
}

.service-card {
  max-width: 400px;
  margin: 0 15px;
  display: flex;
  align-items: center;

  .card-title {
    color: $theme-color;
  }
}