<div class="profile-container">
  <mat-drawer-container autosize>
    <mat-drawer #drawer class="profile-sidenav" mode="over" position="end">
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let menu of menuList">{{menu.name}}</mat-list-item>
      </mat-list>
    </mat-drawer>

    <app-home [drawer]="drawer" [menuList]="menuList"></app-home>

    <app-about></app-about>
    <app-services></app-services>
    <app-portfolio></app-portfolio>
    <app-contact></app-contact>

  </mat-drawer-container>

  <div class="footer"></div>
</div>
