/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.profile-container .mdc-list-item__primary-text {
    font-family: 'Poppins', sans-serif;
    color: white !important;
}